<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<!-- CSS style library-->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
		/>
		<!-- custom css -->
		<link rel="stylesheet" href="../public/style.css" />

		<script src="../scripts/minimal_theme_switcher.js" defer></script>
		<script src="../scripts/recipe_scripts.js" defer></script>
		<title>DMS - Add recipe</title>
	</head>
	<body>
		<header class="container">
			<h1>Add your recipe</h1>
			<button onclick="deleteRecipes(event)">Delete all recipes</button>
			<a href=".">Back to recipe book</a>
		</header>
		<main class="container">
			<form
				action="../recipes"
				method="post"
				onsubmit="addRecipe(event)"
				id="recipe-form"
			>
				<h3>Name</h3>
				<input
					name="name"
					type="text"
					placeholder="Enter name here..."
				/>

				<h3>Short description</h3>
				<textarea
					name="description"
					type="textarea"
					rows="5"
					placeholder="Add a description for your recipe..."
				></textarea>

				<h3>Tags</h3>
				<fieldset name="tags">
					<input type="checkbox" value="breakfast" name="tag" />
					<label htmlFor="tag">Breakfast</label>
					<input type="checkbox" value="lunch" name="tag" />
					<label htmlFor="tag">Lunch</label>
					<input type="checkbox" value="dinner" name="tag" />
					<label htmlFor="tag">Dinner</label>
				</fieldset>

				<h3>Ingredients needed</h3>
				<ol id="ingredient-list">
					<li>
						<input
							type="text"
							placeholder="Add ingredient here..."
							name="ingredient"
						/>
					</li>
				</ol>
				<button id="add-ingredient" class="contrast" type="button">
					Add ingredient
				</button>

				<h3>Preparation time (in minutes)</h3>
				<input
					name="time"
					type="number"
					placeholder="Specify minutes here..."
				/>

				<h3>Preparation instructions</h3>
				<ol id="instruction-list">
					<li>
						<textarea
							rows="2"
							placeholder="Enter instruction here..."
							name="instruction"
						></textarea>
					</li>
				</ol>
				<button id="add-instruction" class="contrast" type="button">
					Add instruction
				</button>

				<input type="submit" value="Submit recipe" />
				<a href=".">
					<button class="secondary container">Discard</button>
				</a>
			</form>
		</main>
		<footer></footer>
	</body>
</html>
